################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs
/PreStormCore/bin
/PreStormCore/obj
/PreStormCore.Tools
/PreStormCore.UnitTests
/Demo/.vscode
/Demo/bin
/Demo/obj
